@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

/* prevents navbar hiding section content */
section {
  scroll-margin-top: 80px;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #000;
}